 body {
  font-family: 'Permanent Marker', cursive;
  color: #00b8ff;
  text-transform: uppercase;
  text-align: center;
  width: 960px;
  margin: auto;
  background-color: #00b8ff;
}

h1 {
  background-color: purple;
  border-radius: 1em;
  margin: 30px 50px;
  padding: 10px 20px;
}

td {
	border:  2px solid #333;
	height:  100px;
	width:  100px;
	text-align:  center;
	vertical-align:  middle;
	font-family: 'Permanent Marker', cursive;
	font-size:  70px;
	cursor: pointer;
}

.cell {
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
  text-align: center;
  color: black;
}
/* button {
  vertical-align: middle;
  height: 100px;
  width: 100px;
  background-color: #00b8ff;
} */

table {
	border-collapse: collapse;
	left: 50%;
	margin: 0 auto;
	top: 50px;
}

#sq1 {
  border-top: 0;
  border-left: 0;
}

#sq2 {
  border-top: 0;
}

#sq3 {
  border-top: 0;
  border-right: 0;
}

#sq4 {
  border-left: 0;
}

#sq6 {
  border-right: 0;
}

#sq7 {
  border-left: 0;
  border-bottom: 0;
}

#sq8 {
  border-bottom: 0;
}

#sq9 {
  border-bottom: 0;
  border-right: 0;
}

.gameEnd {
  display: none;
  width: 200px;
  top: 120px;
  background-color: rgba(205,133,63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}

#drawing1, #drawing2, #drawing3, #drawing4, #drawing5, #drawing6, #drawing7, #drawing8, #drawing9 {
  display: none;
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
  text-align: center;
  color: black;
}
